body {
    background-color: #649c66;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.article {
    background: wheat;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}
.jumbotron {
    margin-top: 10px;
    background-image: url("./bikePic.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    color: #649c66;
    border-radius: 25px;
    text-align: right;
}
.save{
    align-content: right;
}