<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link scrape" id="scrape" href="/scrape">Scrape New Artilces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link saved" id="saved" href="/saved">Saved Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="clear" href="">Clear Articles</a>
        </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Scrape that news!</h1>
            <p class="lead">Find articles that peak your interst</p>
        </div>
    </div>

    <div class="articles">
        <div class="load"></div>
        {{#each_upto articles 8}}
            {{#unless saved}}
            <div class="article">
                <a href="{{link}}"><h2>{{title}}</h2></a>
                <p>{{summary}}</p>
                <button class="btn btn-primary save" data-id="{{_id}}">SAVE</button>
                <br>
            </div>
            {{/unless}}
        {{/each_upto}}
    </div>

</div>